p {
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
    background-color: aliceblue;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #060807;
    background-color: #060807;
    /* background-image: url(../../assets/images/DSC_2731.JPG); */
    background-size: cover;
}
