p {
    color: #060807;
}

html {
    scroll-behavior: smooth;
    background-color: aliceblue;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #060807;
    background-color: #060807;
    /* background-image: url(../../assets/images/DSC_2731.JPG); */
    background-size: cover;
}

.contact_section .box {
    background: linear-gradient(to left bottom, #6f00fa4d, #6632fc47, #6049fb7d, #5d5af996, #5e68f6bf, #3f77f796, #1e83f48a, #008dee6b, #0098e494, #00a0d69e, #19a6c68a, #4faab7b8);
}

h4 {
    color: whitesmoke;
    text-align: center;
}
