<div class="hero_area">
    <div class="logo_box">
        <img src="assets/images/LOGODEGRBLUE.png" alt="logo_box" width="100%" height="217px">
    </div>
    <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="detail-box">
                        <h1>
                            Dimensionne <br /> ton evenement <br /> avec Lexvolution
                        </h1>
                    </div>
                    <div class="carousel-item">
                        <div class="detail-box">
                            <h1>
                                A <br /> simple <br /> guide to <br /> style
                            </h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="detail-box">
                            <h1>
                                A <br /> simple <br /> guide to <br /> style
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="menu_box">
    <div class="navbar-collapse" id="">
        <div class="custom_menu-btn">
            <button onclick="openNav()">
          <span class="s-1"> </span>
          <span class="s-2"> </span>
          <span class="s-3"> </span>
      </button>
        </div>
        <div id="myNav" class="overlay">
            <div class="overlay-content">
                <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact & Booking</a>
                <a href="https://on.soundcloud.com/paoSR ">Demos Soundcloud</a>
                <a href="https://instagram.com/dj_lexvolution?igshid=YmMyMTA2M2Y= ">Suivre sur Instagram</a>
                <a [routerLink]="['/mentions']" routerLinkActive="router-link-active">Mentions Légales</a>
            </div>
        </div>
    </div>
    <section class="women_section layout_padding">
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-box">
                            <iframe width="100%" height="390" color="#23ff5500" scrolling="no " frameborder="no " allow="autoplay " src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1551662719&color=%060807&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false "></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="detail-box ">
                            <div class="heading_container ">
                                <h2>
                                    Une Expérience <br /> Musicale unique
                                </h2>
                            </div>
                            <p>
                                Dj professionnel et passionné de musique, je mets à votre entière disposition mon expérience, mon enthousiasme et ma culture musicale. Ma mission? Vous transporter et vous faire vibrer sur les musiques d’aujourd’hui et d’hier pour un événement inoubliable.
                            </p>
                            <div class="btn-box ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="men_section layout_padding-bottom ">
        <div class="container ">
            <div class="box ">
                <div class="row ">
                    <div class="col-md-7 ">
                        <div class="detail-box ">
                            <div class="heading_container ">
                                <h2>
                                    Un Evenement <br /> Sur Mesure
                                </h2>
                            </div>
                            <p>
                                Chaque événement est unique. C’est pourquoi, je vous propose un service personnalisé et adapté à vos goûts, vos envies et vos attentes, pour une animation musicale qui vous ressemble. Je m’adapte à votre style grâce à mon catalogue large et varié composé
                                de musiques généralistes, afro, house ou encore hip-hop,
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 ">
                        <div class="img-box ">
                            <img src="assets/images/IMG_4942pooldos.jpg " alt="pool" width="100%" height="auto" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="modern_section layout_padding-bottom ">
        <div class="container ">
            <div class="box layout_padding ">
                <div class="row ">
                    <div class="col-md-7 ">
                        <div class="detail-box ">
                            <div class="heading_container ">
                                <h2>
                                    Mariages <br /> Soirées Privées <br /> Evenements
                                </h2>
                            </div>
                            <p>
                                Basé à Bordeaux, je me déplace en Gironde et ses environs pour animer tout type d’événement. Soirées privées, mariages, pool party, clubs, soirées d’entreprises, événements sportifs, je suis disponible et à votre écoute. </p>
                        </div>
                    </div>
                    <div class="col-md-5 ">
                        <div class="img_container ">
                            <div class="img-box ">
                                <img src="assets/images/DSC_2841-min.png " alt="photo_de_mix " width="100%" height="auto" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="client_section ">
        <div class="container ">
            <div id="carouselExample2Indicators " class="carousel slide " data-ride="carousel ">
                <ol class="carousel-indicators ">
                    <li data-target="#carouselExample2Indicators " data-slide-to="0 " class="active "></li>
                    <li data-target="#carouselExample2Indicators " data-slide-to="1 "></li>
                    <li data-target="#carouselExample2Indicators " data-slide-to="2 "></li>
                </ol>
                <div class="carousel-inner ">
                    <div class="carousel-item active ">
                        <div class="box ">
                            <div class="heading_container ">
                                <h2>
                                    Que la Fête commence !
                                </h2>
                            </div>
                            <div class="row ">
                                <div class="col-md-6 ">
                                    <div class="detail-box ">
                                        <h5>
                                            More
                                        </h5>
                                        <p>
                                            Passionné depuis toujours par la musique, mes influences sont les sonorités hip-hop, rnb et africaines. Dans un premier temps, j’ai commencé à créer des instrumentales en tant que compositeur MAO (musique assistée par ordinateur). Puis, l’animation et
                                            le mix sont venus naturellement jusqu’à devenir professionnel. J’ai pu mixer dans des clubs à Bordeaux et à Porto au Portugal ainsi que lors de divers événements tels que des pool party, événements privés, fêtes
                                            de la musique et compétitions sportives de basket.
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="img-box ">
                                        <img src="assets/images/DSC_2940-min.jpeg " alt="celebrate " width="100%" height="100%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="info_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <h5>
                        RCS
                    </h5>
                    <p>
                        En tant que DJ professionnel, je suis inscrit au registre des commerces afin de vous offrir mes services de manière transparente et responsable. Vous pouvez donc me faire confiance pour animer votre prochain événement ! Cordialement. </p>
                </div>
                <div class="col-md-7 offset-md-1 offset-lg-2 col-lg-6">
                    <div class="row">
                        <div class="row-cols-md-3  ">
                            <h5>
                                Useful Links
                            </h5>
                            <!-- <div class="logobas"> <img src="assets/images/LOGODEGRBLUE.png" alt="logo_box" width="100%" height="100%">
                            </div> -->
                        </div>
                        <div class="col-md-6">
                            <h5>
                                Contact
                            </h5>
                            <div class="info_link-box">
                                <a href="#">
                                    <span>+01 1234567890</span>
                                </a>
                                <a href="#">
                                    <span>+01 1234567890</span>
                                </a>
                                <a href="#">
                                    <span> <span class="__cf_email__">djlexvolution@gmail.com</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="info_container">
                        <div class="row">
                            <div class="col-md-5 ">
                                <h5>
                                    Suivez moi
                                </h5>
                                <div class="info_social">

                                    <div>
                                        <a href="https://therichpost.com">
                                            <img src="assets/images/soundcloud.png" alt="soundcloud_logo" width="100%" height="100%" />
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://therichpost.com">
                                            <img src="assets/images/instapic.png" alt="instagram_logo" width="100%" height="100%" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 mb-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center ">
            <button type="button " class="btn btn-primary" *ngIf="showBtn$ | async" class="top-btn" (click)="gotoTop()"><i class='fas fa-arrow-up'></i></button>

        </div>
    </section>
    <section class="container-fluid footer_section">
        <p>
            &copy; 2021 All Rights Reserved. Design by
            <a>@Lexvolution</a>
        </p>
    </section>
