<div class="menu_box">
    <div class="navbar-collapse" id="">
        <div class="custom_menu-btn">
            <button onclick="openNav()">
      <span class="s-1"> </span>
      <span class="s-2"> </span>
      <span class="s-3"> </span>
  </button>
        </div>
        <div id="myNav" class="overlay">
            <div class="overlay-content">
                <a [routerLink]="['/home']" routerLinkActive="router-link-active">Accueil</a>
                <a href="https://soundcloud.com/lexvolution/sets/lexmixxup?si=c430606a70324794b1082d27c1012f7e&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing ">Demos Soundcloud</a>
                <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact & Booking</a>
                <a href="https://instagram.com/dj_lexvolution?igshid=YmMyMTA2M2Y= ">Suivre sur Instagram</a>
            </div>
        </div>
    </div>
    <section class="men_section layout_padding-bottom ">
        <div class="container ">
            <div class="box ">
                <div class="col-12 ">
                    <h2>
                        Mentions <br /> Légales
                    </h2>
                    <p>
                        Le présent site est la propriété de Lexvolution :
                        <br> • E-mail : djlexvolution@gmail.com
                        <br> • Tel : +33663112569
                        <br> • Forme juridique : Entrepreur individuel
                        <br> • SIRET : 88847198400011
                        <br> • RCS : Bordeaux B 890 467 855
                        <br>
                        <br>
                        <strong>Edition du site web</strong>
                        <br> Création du contenu web et Responsable de publication : Lexvolution
                    </p>
                </div>
            </div>
        </div>
    </section>
