p {
    color: #060807;
    text-align: center;
}

h2 {
    text-align: center;
    color: #060807;
    border-bottom: 1px solid #060807;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
}
