<section class="men_section layout_padding-bottom ">
    <div class="container ">
        <div class="box ">
            <div class="row ">
                <div class="col-md-7 ">
                    <div class="detail-box ">
                        <div class="heading_container ">
                            <h2>
                                Mentions <br /> Légales
                            </h2>
                        </div>
                        <p>
                            Le présent site est la propriété de Lexvolution :
                            <br> • E-mail : lexhoo@yahoo.fr
                            <br> • Tel : +33663112569
                            <br> • Forme juridique : Entrepreur individuel
                            <br> • SIRET : 88847198400011
                            <br> • RCS : Bordeaux B 890 467 855
                            <br>
                            <br>

                            <strong>1. Edition du site web</strong>
                            <br> Création du contenu web et Responsable de publication : Lexvolution


                        </p>
                    </div>
                </div>
                <div class="col-md-5 ">
                    <div class="img-box ">
                        <img src="assets/images/DSC_2731.png" alt=" " />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
