    *,
     ::after,
     ::before {
        box-sizing: border-box;
    }

    .men_section .box {
        color: #00000075;
        background: linear-gradient(to left bottom, #6f00fa4d, #6632fc47, #6049fb7d, #5d5af996, #5e68f6bf, #3f77f796, #1e83f48a, #008dee6b, #0098e494, #00a0d69e, #19a6c68a, #4faab7b8);
    }

    body {
        background-color: #37009175;
    }

    img {
        width: 100%;
    }

    .col-md-7 {
        width: 100%;
    }

    .men_section .detail-box {
        padding-left: 33px;
        padding-right: 33px;
        margin-top: 27px;
    }

    .layout_padding-bottom {
        padding-bottom: 0px;
    }

    p {
        font-size: 17px;
    }
    /* info section */

    .info_section {
        background-color: #010201;
        color: #ffffff;
    }

    .info_section h5 {
        margin-bottom: 12px;
    }

    .info_section p {
        color: #cbc9c9;
    }

    .info_section ul {
        padding: 0;
    }

    .info_section ul li {
        list-style-type: none;
        margin: 3px 0;
    }

    .info_section ul li a {
        color: #cbc9c9;
    }

    .info_section ul li a:hover {
        color: #ffffff!important;
    }

    .info_section .info_link-box a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 15px 0;
    }

    .info_section .info_link-box a:hover {
        color: #ffffff!important;
    }

    .info_section .info_link-box a img {
        margin-right: 15px;
    }

    .info_section .info_link-box a span {
        color: #cbc9c9;
    }

    .info_section .info_link-box a:hover span {
        color: #ffffff!important;
    }

    .info_section .info_social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .info_section .info_social img {
        width: 35px;
        margin-right: 8px;
    }
    /* end info section */
    /* footer section*/

    .footer_section {
        background-color: #010201;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer_section p {
        padding: 15px 0;
        text-align: center;
        color: #ffffff;
        border-top: 1px solid #ffffff;
    }

    .footer_section a {
        color: #ffffff;
    }

    .top-btn {
        border: 3px solid #37009130;
        color: whitesmoke;
        background: linear-gradient(to left bottom, #6f00fa4d, #6632fc47, #6049fb7d, #5d5af996, #5e68f6bf, #3f77f796, #1e83f48a, #008dee6b, #0098e494, #00a0d69e, #19a6c68a, #4faab7b8);
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
    }
