<div class="menu_box">
    <div class="navbar-collapse" id="">
        <div class="custom_menu-btn">
            <button onclick="openNav()">
        <span class="s-1"> </span>
        <span class="s-2"> </span>
        <span class="s-3"> </span>
    </button>
        </div>
        <div id="myNav" class="overlay">
            <div class="overlay-content">
                <a [routerLink]="['/home']" routerLinkActive="router-link-active">Accueil</a>
                <a href="https://on.soundcloud.com/paoSR ">Demos Soundcloud</a>
                <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact & Booking</a>
                <a href="https://instagram.com/dj_lexvolution?igshid=YmMyMTA2M2Y= ">Suivre sur Instagram</a>
                <a [routerLink]="['/mentions']" routerLinkActive="router-link-active">Mentions Légales</a>

            </div>
        </div>
    </div>

    <section class="men_section layout_padding-bottom ">
        <div class="container ">
            <div class="box ">
                <div class="row ">
                    <div class="col-md-7 ">
                        <div class="detail-box ">
                            <div class="heading_container ">
                                <h2>
                                    Biographie
                                </h2>
                            </div>
                            <p>
                                Passionné par la musique dès son plus jeune âge, Alex alias DJ Lexvolution rentre dans le monde musical en plein cœur des années 90-2000. Très vite influencé par le hip-hop, le Rnb et la musique africaine, il décide de se lancer dans la production. De
                                là, il commence à créer ses propres instrumentales, puis avec ses petits frères (dont le célèbre Denza qui est devenu un artiste de renom) montent un groupe. Au fil du temps, Alex rentra dans la production, se mit à vendre
                                ses compositions pour divers artistes comme Seth Gueko et commença également à créer des compilations sur cd d’artistes différents. Sans le savoir, c’est de là que commence sa passion pour les mix. <br>
                                <br><img src="../../../assets/images/DSC_2731-min.png" alt=""><br><br> Vers les années 2000, Alex, travaillant au service sport pour la ville du Mans, commença à animer des tournois de basket en jouant ses propres compilations.
                                À côté de cela, il démarrait ses propres mix à l’aide de l’application mobile DJay de chez Algoriddim et mixa dans des soirées entre amis. Puis quelques années plus tard, il décida d’apprendre les fondamentaux du mix en
                                autodidacte et acquiert son premier contrôleur, le DDJ-400. <br><img src="../../../assets/images/DSC_2723-min.png" alt=""><br><br> Les débuts d’Alex en tant que DJ Lexvolution face au grand public furent à Porto au KLUB
                                DISCO avec d’autres DJ reconnus comme DJ Charles MG, suite à l’annulation d’un événement. De là, la magie a opéré, la soirée fût un grand succès et Alex mis le feu au dancefloor. Suite à cela, il se perfectionna sur les
                                conseils de DJ Sixx « son mentor », qui l’invita à performer à la fête de la musique en plein Bordeaux. On l’invita également dans différents événements sportifs à venir mettre l’ambiance. <br><img src="../../../assets/images/DSC_2940-min.jpeg"
                                    alt="">Aujourd’hui en plus de travailler dans les métiers de l’informatique, Alex autoentrepreneur est équipé d’un DDJ-1000, performe dans les clubs comme le Eat Slide Club, des pool party et soirées privées au château
                                GOA HOUSE à St-Supplice-et-Cameyrac et dorénavant est ouvert aux mariages et aux anniversaires. Alex joue tout type de musique ou presque, allant des années 70 à nos jours. Toujours l’écoute et réactif, il saura vous guider
                                pour vous faire passer d’inoubliables moments.
                                <img src="assets/images/DSC_2805-min.png " alt=" " />

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="info_section layout_padding ">
            <div class="container ">
                <div class="row ">
                    <!-- <div class="col-lg-3 col-md-4 ">
                  <h5>
                      Category
                  </h5>
                  <p>
                      En tant que DJ professionnel, je suis inscrit au registre des commerces afin de vous offrir mes services de manière transparente et responsable. Vous pouvez donc me faire confiance pour animer votre prochain événement ! </p>
              </div> -->
                    <div class="col-md-7 offset-md-1 offset-lg-2 col-lg-6 ">
                        <div class="row ">
                            <div class="col-md-5 ">
                                <h5>
                                    <a [routerLink]="['/mentions']" routerLinkActive="router-link-active">Mentions Légales</a>
                                </h5>
                                <!-- <ul>
                              <li>
                                  <a href="https://therichpost.com ">
                    Contrary
                </a>
                              </li>
                              <li>
                                  <a href="https://therichpost.com ">
                    to popular belief,
                </a>
                              </li>
                              <li>
                                  <a href="https://therichpost.com ">
                    Lorem Ipsum is
                </a>
                              </li>
                              <li>
                                  <a href="https://therichpost.com ">
                    not simply
                </a>
                              </li>
                              <li>
                                  <a href="https://therichpost.com ">
                    random text. It
                </a>
                              </li>
                          </ul> -->
                            </div>
                            <div class="col-md-6 ">
                                <button type="button" class="btn btn-primary" *ngIf="showBtn$ | async" class="top-btn" (click)="gotoTop()">Retour En Haut</button>
                                <div class="info_link-box ">
                                    <!-- <a href="# ">
                                  <span>+33663112569</span>
                              </a> -->
                                    <a href="# ">
                                        <span> <span class="__cf_email__ ">djlexvolution@gmail.com</span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="info_container ">
                            <div class="row ">
                                <div class="col-md-5 ">
                                    <h5>
                                        Reseaux Sociaux
                                    </h5>
                                </div>
                                <div class="col-md-6 mb-0 ">
                                    <div class="info_social ">
                                        <!-- <div>
                                      <a href="https://therichpost.com ">
                                          <img src="assets/images/fb-top.png " alt=" " />
                                      </a>
                                  </div> -->
                                        <div>
                                            <a href="https://on.soundcloud.com/paoSR ">
                                                <img src="assets/images/soundcloud.png " alt=" " />
                                            </a>
                                        </div>
                                        <div>
                                            <a href="https://instagram.com/dj_lexvolution?igshid=YmMyMTA2M2Y= ">
                                                <img src="assets/images/instapic.png " alt=" " />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="container-fluid footer_section ">
            <p>
                &copy; 2023 All Rights Reserved. Design by Lexvolution

            </p>
        </section>
