<section class="men_section layout_padding-bottom ">
    <div class="container ">
        <div class="box ">
            <div class="row ">
                <div class="col-md-7 ">
                    <div class="detail-box ">
                        <div class="heading_container ">
                            <h2>
                                Biographie
                            </h2>
                        </div>
                        <p>
                            Passionné par la musique dès son plus jeune âge, Alex alias DJ Lexvolution rentre dans le monde musical en plein cœur des années 90-2000. Très vite influencé par le hip-hop, le Rnb et la musique africaine, il décide de se lancer dans la production. De
                            là, il commence à créer ses propres instrumentales, puis avec ses petits frères (dont le célèbre Denza qui est devenu un artiste de renom) montent un groupe. Au fil du temps, Alex rentra dans la production, se mit à vendre
                            ses compositions pour divers artistes comme Seth Gueko et commença également à créer des compilations sur cd d’artistes différents. Sans le savoir, c’est de là que commence sa passion pour les mix. Vers les années 2000, Alex,
                            travaillant au service sport pour la ville du Mans, commença à animer des tournois de basket en jouant ses propres compilations. À côté de cela, il démarrait ses propres mix à l’aide de l’application mobile DJay de chez Algoriddim
                            et mixa dans des soirées entre amis. Puis quelques années plus tard, il décida d’apprendre les fondamentaux du mix en autodidacte et acquiert son premier contrôleur, le DDJ-400. Les débuts d’Alex en tant que DJ Lexvolution
                            face au grand public furent à Porto au KLUB DISCO avec d’autres DJ reconnus comme DJ Charles MG, suite à l’annulation d’un événement. De là, la magie à opéré, la soirée fût un grand succès et Alex mis le feu au dancefloor.
                            Suite à cela, il se perfectionna sur les conseils de DJ Sixx « son mentor », qui l’invita à performer à la fête de la musique en plein Bordeaux. On l’invita également dans différents événements sportifs à venir mettre l’ambiance.
                            Aujourd’hui en plus de travailler dans les métiers de l’informatique, Alex autoentrepreneur est équipé d’un DDJ-1000, performe dans les clubs comme le Eat Slide Club, des pool party et soirées privées au château GOA HOUSE à
                            St-Supplice-et-Cameyrac et dorénavant est ouvert aux mariages et aux anniversaires. Alex joue tout type de musique ou presque, allant des années 70 à nos jours. Toujours l’écoute et réactif, il saura vous guider pour vous faire
                            passer d’inoubliables moments.

                        </p>
                    </div>
                </div>
                <div class="col-md-5 ">
                    <div class="img-box ">
                        <img src="assets/images/DSC_2805.png " alt=" " />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
